# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/

# Virtual environments
.venv/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Linting
.ruff_cache/

# Environment
.env
.devcontainer/aws-profile-map.json
.devcontainer/ssh-private-key

# OS files
.DS_Store
Thumbs.db
